spring:
  application:
    name: database-generator
  profiles:
    active: local
  datasource:
    # TODO Criar perfil para sqlServer
    #    url: jdbc:sqlserver://localhost:1433;databaseName=master
    #    username: sa
    #    password: Database!2021
    #    driverClassName: com.microsoft.sqlserver.jdbc.SQLServerDriver

    #  TODO Criar perfil para postgresql
    #    url: jdbc:postgresql://localhost:5432/genericDatabase
    #    username: postgres
    #    password: teste12
    #    driver-class-name: org.postgresql.Driver
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    generate-ddl: true
    show-sql: true
    properties:
      javax:
        persistence:
          schema-generation:
            create-source: metadata
            scripts:
              action: create
              create-target: create.sql
      hibernate:
        ddl-auto: update
        format_sql: true
        hbm2ddl:
          delimiter: ;
        jdbc:
          lob:
            non_contextual_creation: true
